<!-- External script -->
<script src="/js/room-booking.js"></script>

<!-- Form -->
{{#if room}}

    {{#if error}}
        <p style="margin: 10% 25% 5%; font-size: 25px">!!! This room is out of stock, please choose another <a href="/room">room</a> !!!</p>
    {{/if}}


    <div class="booking">
        <img src="{{room .imgSrc}}" alt="" class="booking-room-img">

        <p class="booking-room-name">{{room.roomName}}</p>
        
        <hr>

        <div>
            <div class="room-description">
                <p class="room-description-bigtext">Description: </p>
                <p class="room-description-smalltext"> {{room.description}} </p>
                <p class="room-description-bigtext">Convenient:</p>
                <div class="room-description-icon">
                    <div><img class="room-description-smallicon" src="/img/icon/air-conditioner.png" alt=""> Air-conditioning</div>
                    <div><img class="room-description-smallicon" src="/img/icon/television.png" alt=""> Tivi</div>
                    <div><img class="room-description-smallicon" src="/img/icon/minibar.png" alt=""> Mini-fridge</div>
                    <div><img class="room-description-smallicon" src="/img/icon/ceiling-fan.png" alt=""> Ceiling-fan</div>
                </div>

                <div class="room-description-icon">
                    <div><img class="room-description-smallicon" src="/img/icon/desk.png" alt=""> Desk</div>
                    <div><img class="room-description-smallicon" src="/img/icon/wardrobe.png" alt=""> Wardrobe</div>
                    <div><img class="room-description-smallicon" src="/img/icon/bed.png" alt=""> King size bed</div>
                    <div><img class="room-description-smallicon" src="/img/icon/safe-deposit.png" alt=""> Safe</div>
                </div>

                <div class="room-description-icon">
                    <div><img class="room-description-smallicon" src="/img/icon/wifi-signal.png" alt=""> Wifi</div>
                    <div><img class="room-description-smallicon" src="/img/icon/telephone.png" alt=""> Telephone</div>
                    <div><img class="room-description-smallicon" src="/img/icon/floor-lamp.png" alt=""> Lamp</div>
                    <div><img class="room-description-smallicon" src="/img/icon/hair-dryer.png" alt=""> Hair dryer</div>
                </div>

                <div class="room-description-icon">
                    <div><img class="room-description-smallicon" src="/img/icon/bathtub.png" alt=""> Bathub</div>
                    <div><img class="room-description-smallicon" src="/img/icon/shower.png" alt=""> Shower</div>
                    <div><img class="room-description-smallicon" src="/img/icon/bathrobe.png" alt=""> Bathrobe</div>
                    <div><img class="room-description-smallicon" src="/img/icon/towel.png" alt=""> Towel</div>
                </div>
            </div>
        </div>

        <hr>

        <form action="/reservation/create" method="post" class="booking-input">

            <input type="hidden" name="roomId" style="display: ;" value="{{room.id}}">
            <input type="hidden" name="userId" value="{{user.id}}">

            <div class="booking-input-first">
                <label for='fullName'><b>Your fullname: &nbsp</b> {{user.fullName}}</label>
                <input id='fullName' name='fullName' type='text' placeholder='VD: Nguyễn Văn A' value="{{user.fullName}}" class='form-control' style="display:none"> <br>

                <label for='phoneNumber'><b>Phone number: &nbsp</b> {{user.phoneNumber}}</label>
                <input id='phoneNumber' name='phoneNumber' type='text' placeholder='VD: 01234567890' value="{{user.phoneNumber}}" class="form-control" style="display:none"> <br>

                <label for='start'><b>Pick your booking date: &nbsp</b></label>
                <input type="date" name="start" id="booking-date" class='form-control'> <br>

                <label for="days"><b>Number of days you want to stay: &nbsp</b></label>
                <select id="days" name="days" class='form-control'>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                </select> <br>
            </div>
                
            <div class="booking-vl"></div>

            <div class="booking-input-second">
                <div style="margin-top: 1%;">
                    <p class="booking-available-room">Available rooms: {{room.available}}</p>

                    <button class="booking-btn-post" id="book-btn">Book this room</button>

                    <div class="booking-accept-term">
                        <input type="checkbox" class="booking-input-checkbox" id="accept-checkbox">
                        <span>&nbsp i accept 
                            <a href="/general-terms">terms</a> 
                            and 
                            <a href="/general-terms">conditions</a>
                        </span>
                    </div>

                </div>
            </div>

        </form>
    </div>
{{else}}
    {{#if error_noRoom}}
    <div class="error">
        <img src="/img/general/error.png" class="error-img">
        <p class="error-text">{{error_noRoom}}, click <a href="/">here</a> to go back to home</p>
    </div>
    {{/if}}
{{/if}}

