<body>
    <div class="res-body">
        <h1 class="res-header">Reservation</h1>
    </div>

    {{#each reservations}}
    <!-- Reservation {{this.res_id}} -->
    <div class="upcoming-inf-line">
        <img class="res-img" src="{{this.imgSrc}}" alt="single-room" width="150" height="100">
        <div>
            <h3 class="name-room">{{this.roomName}}</h3>
            <p id="firstline">Check In: {{this.start}}</p>
            <p id="firstline">Duration: {{this.days}} days</p>
            <p id="secondline">$ {{this.total_cost}}</p>
        </div>
        {{#if this.Pending}}
        <div class="btn-res">
            <button type="button" class="btn-res-pending">Waiting for payment</button>
        </div>
        {{/if}}
        
        {{#if this.Active}}
        <div class="btn-res">
            <button type="button" class="btn-res-cancel" onclick="cancel_reservation('{{this.res_id}}')">Cancel Reservation</button>
        </div>
        {{/if}}

        {{#if this.End}}
        <div class="btn-res">
            <p>This reservation ended.</p>
        </div>
        {{/if}}

        <br>
    </div>
    {{/each}}
    <hr>
    <div class="body-end" style="margin-top: 3%;">
        <b><p class="body-end-header">Testimonials</p></b>
        <p class="body-end-text-1">"Calm, Serene, Retro - What a way to relax and enjoy"</p>
        <p class="body-end-text-2">Mr. and Mrs.Baxter, UK</p>
    </div>
</body>