{{#if room}}
    <div class="booking">
        <img src="{{room .imgSrc}}" alt="" class="booking-room-img">

        <p class="booking-room-name">{{room.roomName}}</p>
        
        <hr>

        <div>
            <div class="room-description">
                <p class="room-description-bigtext">Description: </p>
                <p class="room-description-smalltext"> {{room.description}} </p>
                <p class="room-description-bigtext">Convenient:</p>
                <div class="room-description-icon">
                    <div><img class="room-description-smallicon" src="/img/icon/air-conditioner.png" alt=""> Air-conditioning</div>
                    <div><img class="room-description-smallicon" src="/img/icon/television.png" alt=""> Tivi</div>
                    <div><img class="room-description-smallicon" src="/img/icon/minibar.png" alt=""> Mini-fridge</div>
                    <div><img class="room-description-smallicon" src="/img/icon/ceiling-fan.png" alt=""> Ceiling-fan</div>
                </div>

                <div class="room-description-icon">
                    <div><img class="room-description-smallicon" src="/img/icon/desk.png" alt=""> Desk</div>
                    <div><img class="room-description-smallicon" src="/img/icon/wardrobe.png" alt=""> Wardrobe</div>
                    <div><img class="room-description-smallicon" src="/img/icon/bed.png" alt=""> King size bed</div>
                    <div><img class="room-description-smallicon" src="/img/icon/safe-deposit.png" alt=""> Safe</div>
                </div>

                <div class="room-description-icon">
                    <div><img class="room-description-smallicon" src="/img/icon/wifi-signal.png" alt=""> Wifi</div>
                    <div><img class="room-description-smallicon" src="/img/icon/telephone.png" alt=""> Telephone</div>
                    <div><img class="room-description-smallicon" src="/img/icon/floor-lamp.png" alt=""> Lamp</div>
                    <div><img class="room-description-smallicon" src="/img/icon/hair-dryer.png" alt=""> Hair dryer</div>
                </div>

                <div class="room-description-icon">
                    <div><img class="room-description-smallicon" src="/img/icon/bathtub.png" alt=""> Bathub</div>
                    <div><img class="room-description-smallicon" src="/img/icon/shower.png" alt=""> Shower</div>
                    <div><img class="room-description-smallicon" src="/img/icon/bathrobe.png" alt=""> Bathrobe</div>
                    <div><img class="room-description-smallicon" src="/img/icon/towel.png" alt=""> Towel</div>
                </div>
            </div>
        </div>
        <hr>

        <div class="booking-input">
            <div class="booking-input-first">
                <p><b>Your name: &nbsp </b> {{user.fullName}}</p>
                <p style="margin-top: 4%;"><b>Phone number: &nbsp </b> {{user.phoneNumber}}</p>

                <div style="margin-top: 4%;">
                    <span><b>Pick your booking date: &nbsp </b></span>
                    <input type="date" class="booking-input-date" id="booking-date">
                </div>

                <div style="margin-top: 4%;">
                    <b>Number of days you want to stay: &nbsp</b>
                    <button class="minus" onclick="decrease('number-date')">-</button>
                    <span id="number-date">1</span>
                    <button class="plus" onclick="increase('number-date')">+</button>
                </div>

                <div style="margin-top: 4%;">
                    <b>Kind of payment: &nbsp</b>
                    <select name="kind-of-payment" id="booking-payment">
                        <option value="0">Paying with real money</option>
                        <option value="1">Online paying</option>
                    </select>
                </div>
            </div>

            <div class="booking-vl"></div>

            <div class="booking-input-second">
                <div style="margin-top: 4%;">
                    <p class="room-desc-detail-available">Available rooms: {{room.available}}</p>

                    <button class="booking-btn-post" onclick="postBooking('{{room.id}}', '{{user.id}}')">Book this room</button>

                    <div class="booking-accept-term">
                        <input type="checkbox" class="booking-input-checkbox">
                        <span>&nbsp i accept 
                            <a href="/general-terms">terms</a> 
                            and 
                            <a href="/general-terms">conditions</a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="error">
        <img src="/img/general/error.png" class="error-img">
        <p class="error-text">{{error_noRoom}}, click <a href="/">here</a> to go back to home</p>
    </div>
{{/if}}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>